body {
    background-color: #000000;
    color: #fff;
    font-family: 'Calibri', sans-serif;
}

p {
    margin-top: 25px;
    text-align: justify;
    line-height: 1.6;
}

.title {
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
}

.description {
    text-align: center;
    margin-top: 15px;
}

.footer {
    text-align: center;
    margin-top: 80px;
}

.download {
    text-align: center;
    margin-top: 20px;
    font-size: 26px;
}

.collection {
    text-align: center;
    margin-top: 60px;
    font-size: 18px;
}

a {
    text-decoration: none;
}

.main-nav a {
    padding: 5px 15px;
    text-transform: uppercase;
    text-align: center;
    display: block;
    color: #ffffff;
    font-size: 16px;
}

.main-nav a:hover {
    color: inherit;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #000000;
    border-radius: 5px;
}

.logo {
    flex: 1;
    display: flex;
    align-items: center;
}

.logo img {
    max-height: 30px;
}

.main-nav {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-right: 37vw;
}

.main-nav li {
    margin-right: 20px;
}

.dropdown {
    display: inline-block;
    position: relative;
    color: white;
    margin-right: 10px;
}

.dropdown-content {
    position: absolute;
    background-color: #000000;
    display: none;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    color: white;
}

.dropdown-content a {
    background-color: #000000;
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: black;
}

.dropdown:hover .dropdown-content {
    background-color: black;
    display: block;
}

.social-icons {
    list-style: none;
    display: flex;
    align-items: center;
}

.social-icons li {
    margin-right: 10px;
}

.social-icons a {
    font-size: 20px;
}

.social-icons a:hover {
    color: #0685da;
}

.social-icons a:active,
.social-icons a:focus {
    color: #fff;
    background-color: #0685da;
}

.drop {
    background-color: #000000;
    color: white;
    padding: 12px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 8px;
}

.search-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.search-box {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
}

.search-box input[type="text"] {
    border: none;
    padding: 5px;
}

.search-box button {
    background-color: #000000;
    color: white;
    padding: 7px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-button button {
    background-color: #000000;
    color: white;
    padding: 7px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #fff;
}

.content {
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.nav-tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #fafafa;
    box-sizing: border-box;
}

.list {
    box-sizing: border-box;
    margin-top: 20;
    padding-left: 0;
    margin-bottom: 50px;
    list-style: none;
}

.elem {
    margin: 0 10px;
    list-style: none;
    box-sizing: border-box;
    float: left;
    position: relative;
    display: block;
    border-bottom: 1px solid white;
}

.vectors {
    background: #000000;
    color: #fff;
}

.vectors .heading {
    text-align: center;
    margin-bottom: 1rem;
    line-height: 0.5rem;
    color: var(--primary);
}

.vectors .heading+p {
    font-family: "Lato", sans-serif;
    margin-bottom: 1rem;
    text-align: center;
    font-weight: 400;
    color: #fff;
}

.card-grid {
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
}

.card {
    width: 100%;
    max-width: 300px;
    border-radius: 5%;
    cursor: pointer;
    padding: 3vh 2vw;
    position: relative;
    text-align: center;
    transition: all 0.2s ease;
    border-style: double;
    border: 1px double rgba(255, 255, 255);
}

.card img {
    width: 100%;
    margin-top: 1.5rem;
}

.card h1 {
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.card p {
    font-family: "Lato", sans-serif;
    color: var(--secondary);
    line-height: 1.6;
}

.card:hover {
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.5);
}

.btn {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.bttn {
    text-align: center;
}

.btn button {
    margin: 10px 0;
    background-color: #000000;
    color: #fff;
}

.sp {
    color: #ffffffc4;
}
