* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.container {
    height: 100vh;
    width: 100%;
    min-width: 100vw;
    animation: backgroundChange 4s linear infinite;
}

@keyframes backgroundChange {
    0% {
        background: url('wallpaperflare.com_wallpaper\ \(3\).jpg');
        background-size: cover;
    }

    20% {
        background: url('wallpaperflare.com_wallpaper\ \(3\).jpg');
        background-size: cover;
    }

    40% {
        background: url('wallpaperflare.com_wallpaper\ \(2\).jpg');
        background-size: cover;
    }

    60% {
        background: url('wallpaperflare.com_wallpaper\ \(2\).jpg');
        background-size: cover;
    }

    80% {
        background: url('wallpaperflare.com_wallpaper\ \(1\).jpg');
        background-size: cover;
    }

    100% {
        background: url('wallpaperflare.com_wallpaper\ \(1\).jpg');
        background-size: cover;
    }

}